[GameObjectClass]
classLabel = "wpnpower"
baseName = "{}"
scrapCost = 0
scrapValue = 0
maxHealth = 0
maxAmmo = 0
unitName = NULL
aiName = "PowerUpProcess"

[PowerUpClass]
soundPickup = "{}.wav"
soundReject = "mnu_buzz.wav"

[WeaponPowerupClass]
weaponName = "grand"
